/** {
	outline: 1px solid red !important;
}*/


.featured-banner{
   border-radius: 10px;
   color: #fff;
   background: linear-gradient(#3757d9,purple); 
}

.tile-text {
	font-size: 2em;
}

.tile-subtext {
	font-size: 1em;
}

.my-face {
	max-width: 15em;
	max-height: 15em;
}